body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f86c;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
nav {
    background-color: #444;
}
nav a {
    color: #fff;
    text-decoration: none;
}
nav a:hover {
    background-color: #555;
}
.navbar-nav  {
    width: 100%;
    justify-content: center;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333; /* Dark gray color */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    
}


form.row.g-3 {
    display: flex;
    justify-content: center;    
    align-items: center;
}

.form-control, .form-select, .btn {
    width: auto; /* Ensures controls are only as wide as their content */
}

h3 {
    font-size: 20px !important;
    font-weight: bold;
    color: #333; /* Dark gray color */
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.block {
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    width: calc(100% - 40px); /* Subtracting padding */
    margin: 20px auto; /* Centering the block */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
    border: 3px solid #1d1d1d; /* Optional: adds border around the block */
}

.block h2 {
    margin-top: 0;
    color: #333;
}

.block p {
    margin-bottom: 0;
    color: #000000;
}

.good {
    border-color: green;
}
.average {
    border-color: orange;
}
.poor {
    border-color: red;
}